body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #82787857;
}

h3 {
    font-weight: lighter;
    font-size: 14pt;
}

.image-container {
    display: flex;
    align-items: center; 
    gap: 10px; 
}

iframe {
    border: none;
    height: 5vh;
    width: 5vw;
}

.train-container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 50px auto;
    padding: 10px;
}

.train-arrivals, .traffic-status {
    flex: 1;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
}

.train-arrivals > h2, .traffic-status > h2 {
    margin: 0 0 20px 10px;
}

.train-info {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.train-info:last-child {
    border-bottom: none;
}

.train-time {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #ff2b2b;
}

.train-list {
    background-color: rgba(128, 128, 128, 0.089);
    border-radius: 5px;
}

.train-destination {
    margin: 10px 0 0 0;
    font-size: 18px;
    color: #666;
}

.status {
    margin: 0 0 20px 0;
    font-weight: bold;
}

.announcements ul {
    list-style-type: none;
    padding: 0;
}

.announcements li {
    margin-bottom: 10px;
}

#time-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

button {
    background-color: #bdc0c4;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #828a90;
    transform: translateY(-2px);
}

button:active {
    background-color: #545b62;
    transform: translateY(0);
}

.time {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    background-color: black;
    border-radius: 10px;
    width: 8vw;
    height: 3vh;
    padding: 10px;
}

.current-time {
    color: white;
    font-weight: 800;
    font-size: 1em;
    text-align: center;
}

/* Media Queries */

/* Smartphones */
@media (max-width: 599px) {
    .train-container {
        padding: 10px;
    }

    .train-time {
        font-size: 20px;
    }

    .train-destination {
        font-size: 16px;
    }

    iframe {
        width: 13vw;
    }

    .time {
        width: 35vw;
        height: 6vh;
        padding: 5px;
    }

    .current-time {
        font-size: 1em;
    }
}

/* Tablettes */
@media (min-width: 600px) and (max-width: 899px) {
    .train-container {
        flex-direction: column;
        max-width: 800px;
    }

    .train-arrivals, .traffic-status {
        margin-bottom: 20px;
        padding: 20px;
    }

    .train-time {
        font-size: 22px;
    }

    .train-destination {
        font-size: 18px;
    }

    .time {
        width: 30vw;
        height: 4vh;
        width: 20vw;
        padding: 10px;
    }

    .current-time {
        font-size: 1em;
    }
}

/* Grandes tablettes */
@media (min-width: 900px) and (max-width: 1199px) {
    .train-container {
        flex-direction: row;
        max-width: 1200px;
    }

    .train-arrivals, .traffic-status {
        margin-bottom: 0;
        margin-right: 20px;
        padding: 30px;
    }

    .train-arrivals:last-child {
        margin-right: 0;
    }

    .train-time {
        font-size: 24px;
    }

    .train-destination {
        font-size: 20px;
    }

    .time {
        width: 15vw;
        height: 3vh;
        padding: 10px;
    }

    .current-time {
        font-size: 1.1em;
    }
}

/* Écrans moyens et grands */
@media (min-width: 1200px) {
    .train-container {
        flex-direction: row;
        max-width: 1200px;
    }

    .train-arrivals, .traffic-status {
        margin-bottom: 0;
        margin-right: 20px;
        padding: 30px;
    }

    .train-arrivals:last-child {
        margin-right: 0;
    }

    .train-time {
        font-size: 24px;
    }

    .train-destination {
        font-size: 20px;
    }

    .time {
        width: 8vw;
        height: 3vh;
    }

    .current-time {
        font-size: 1.2em;
    }
}

/* Écrans avec une résolution de 1280x720 */
@media (min-width: 1280px) and (max-width: 1280px) and (min-height: 720px) and (max-height: 720px) {
    .train-container {
        flex-direction: row;
        max-width: 1200px;
    }

    .train-arrivals, .traffic-status {
        margin-bottom: 0;
        margin-right: 20px;
        padding: 30px;
    }

    .train-arrivals:last-child {
        margin-right: 0;
    }

    .train-time {
        font-size: 24px;
    }

    .train-destination {
        font-size: 20px;
    }

    .time {
        width: 10vw;
        height: 5vh;
        padding: 10px;
    }

    .current-time {
        font-size: 1em;
    }
}
